#title {
    font-size: 500%;
    width: 50vmax;
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

#image {
    max-width: 60%;
    height: auto;
    display: block;
  }


  @media only screen and (min-width:500px)
  {

  }

  @media only screen and (min-width:750px)
  {

  }

  @media only screen and (min-width:950px)
  {

  }

  @media only screen and (min-width:1200px)
  {
 .font {
    padding: 0px 200px 20px 200px;
        }
  }

  @media(orientation:portrait){

  }
